.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.card {
    // width: calc(25% - 1.75rem);
    // width: 100%;
    max-width: 368px;
    margin: 15px 8px;
}

.more {
    color: #ff4081;
    font-weight: 600;
    cursor: pointer;
}

.review {
    p {
        min-height: 84px;

    }
    line-height: 1.5;
    // .review_badge {
    //     border: 2px solid #ff4081;
    //     border-radius: 10px;
    //     color: #fff;
    //     background-color: #ff4081;
    //     padding: .1em .6em;
    //     font-weight: 600;
    //     cursor: default;
    // }
    .review_badge {
        border: 2px solid #ff4081;
        border-radius: 7px;
        color: #ff4081;
        padding: .1em .6em;
        font-weight: 600;
        cursor: default;
        margin-right: 10px;
    }
}

.phrase {
    P{
        min-height: 40px;

    }
}