.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.card {
    // width: calc(25% - 1.75rem);
    // width: 100%;
    max-width: 368px;
    margin: 15px 8px;
}

.more {
    color: #ff4081;
    font-weight: 600;
    cursor: pointer;
}

.review {
    min-height: 370px;
}

.phrase {
    min-height: 40px;
}