<mat-card class="card">

  <mat-card-header *ngIf="!isMine">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="avatar image">
    <mat-card-title>계정이름/닉네임</mat-card-title>
    <mat-card-subtitle>2019.05.13</mat-card-subtitle>
  </mat-card-header>

  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <!-- <img mat-card-image src="https://bookthumb-phinf.pstatic.net/cover/069/831/06983181.jpg?type=m1&udate=20120814" alt="image of book cover"> -->
  <app-book [isWriting]="isWriting"></app-book>

  <mat-card-content>
    <div *ngIf="phrase.length > 30;else content">
      <p *ngIf="!isExpand;else expand">
        {{phrase.substring(0,30)}} ... <span class="more" (click)="isExpand = !isExpand">더보기</span>
      </p>
      <ng-template #expand>
        {{phrase}}
      </ng-template>
    </div>
    <ng-template #content>
      <p>
        {{phrase}}
      </p>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button color="accent" (click)="toggleFavorite($event)">
      <mat-icon *ngIf="!isFavorite" aria-label="icon-button with a heart icon">favorite_outline</mat-icon>
      <mat-icon *ngIf="isFavorite" aria-label="icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="toggleBookmark($event)">
      <mat-icon *ngIf="!isBookmark" aria-label="icon-button with a bookmark icon">bookmark_outline</mat-icon>
      <mat-icon *ngIf="isBookmark" aria-label="icon-button with a bookmark icon">bookmark</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>