.inner {
    justify-content: center;
}

.create_wrap {
    width: 100%;
}

.search {
    text-align: center;
    margin-bottom: 30px;
}

mat-form-field {
    width: 40%;
}

.book_dtl {
    margin-bottom: 30px;

    .book_phrase {
        display: flex;
        justify-content: center;

        .input_group {
            width: 100%;

            mat-form-field {
                display: block;
                margin: 0 auto;
                width: 40%;
                margin-bottom: 20px;

                + mat-form-field {
                  margin-bottom: 0;
                }
            }
        }
    }

}
    .btn_group {

        margin: 0 auto;
        text-align: right;

        .mat-stroked-button {
            font-size: 1rem;
            +.mat-stroked-button {
                margin-left: 10px;
            }
        }
    }


