<mat-toolbar color="accent">
  <div class="inner nav_wrap">
    <div class="logos">
      <!-- <button mat-button routerLink="">HOME</button>
      <button mat-button>menu2</button>
      <button mat-button>menu3</button> -->
      <span class="logo" routerLink="">BOOKSTACK</span>
    </div>
    <!-- <div class="example-button-row">
      <button mat-button>menu4</button>
    </div> -->
  
    <div class="tools">
        <!-- <button mat-button routerLink="my"> -->
      <mat-icon class="create" routerLink="create">create</mat-icon>
      <mat-icon class="bookmark" routerLink="bookmark">bookmark_outline</mat-icon>
      <mat-icon class="account" routerLink="my">account_box</mat-icon>
        <!-- </button> -->
    </div>
  </div>
</mat-toolbar>