/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import '~css-star-rating/scss/star-rating';

body{
    font-family: 'Noto Sans KR', Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    background-color: rgb(241, 243, 245);
}

.inner {
    display: flex;
    width: 90%;
    margin: 0 auto;
}


star-rating {
    
    div {
        justify-content: left !important;
    }
    div:focus {
        outline: none;
    }

    .star-container {
        margin: 0;
    }
}

// set dialog min-width
.cdk-overlay-pane {
    min-width: 45vw;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #ff4081;
}